@using Karellen.Negocio.Util.Extensao
@using Karellen.Web.Helper
@model Karellen.Web.Models.Ocorrencia.NovaOcorrenciaVM
@{
    ViewBag.Title = "Detalhes";
}

<div id="sidewrapper">
    <div class="sidebar">
        <div class="heading">
        </div>
        <div class="heading">
            <h1>Detalhes</h1>
        </div>
        <div id="listingsocorrencia" class="listings">
           
            <br/>
            <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label", placeholder = "O Título da ocorrência" })
                            <br/>
                            @Html.DisplayFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.DataAcontecimento, htmlAttributes: new { @class = "control-label" })
                            <div class='input-group date' id='datetimepicker1'>
                                <label class="control-label">@Model.DataAcontecimento.ToString("f")</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Detalhes, htmlAttributes: new { @class = "control-label" })
                            <br/>
                            @Html.DisplayFor(model => model.Detalhes, new { @class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Sexo da vítima: *</label>
                            <br/>

                            @Html.RadioButtonFor(model => model.SexoVitima, "Feminino", new {disabled="disabled"})
                            Feminino

                            @Html.RadioButtonFor(model => model.SexoVitima, "Masculino", new { disabled = "disabled" })
                            Masculino
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.TemBoletimOCorrencia, htmlAttributes: new { @class = "control-label" })
                            <br/>
                            @Html.RadioButtonFor(m => m.TemBoletimOCorrencia, "true", new { disabled = "disabled" })<span> Sim</span>
                            @Html.RadioButtonFor(m => m.TemBoletimOCorrencia, "false", new { disabled = "disabled" })<span> Não</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.TipoOcorrencias, htmlAttributes: new { @class = "control-label" })<span> *</span>
                            @Html.OcorrenciasFor(model => model.TipoOcorrencias, new { @class = "chosen-select", data_placeholder = "Escolha o tipo de ocorrência" });
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12" style="text-align: center">
                            <label class="control-label">Autor: </label>
                            @Html.OcorrenciaAnonimaFor(model => model.OcorrenciaAnonima, User.Identity.IsAuthenticated, usuarioNome: Session["NomeUsuario"] as string)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12" style="text-align: center">
                            <input type="submit" value="Criar" class="btn btn-default btn-lg btn-primary" id="btn-submit" />
                        </div>
                    </div>
          
        </div>
    </div>
</div>

<div id="mapa" class="map"></div>

@section scripts {
    <script src="~/Content/karellen/js/Global/navegacao.js" type="text/javascript"></script>
}