@model Karellen.Web.Models.Conta.GerenciarUsuarioViewModel

<p class="text-info">
    Você não tem uma senha. Crie uma senha para que possa entrar sem precisar de rede social
</p>

@using (Html.BeginForm("Gerenciar", "Conta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Crie uma senha local</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.NovaSenha, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NovaSenha, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SenhaConfirmada, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.SenhaConfirmada, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar Senha" class="btn btn-default" />
        </div>
    </div>
}
