
@{
    ViewBag.Title = "RedeSocial";
}

@using Karellen.Web.Helper
@using Karellen.Web.Models.Conta
@using Microsoft.AspNet.Identity
@model Karellen.Web.Models.Conta.GerenciarVM
@{
    var mensagem = ViewBag.Mensagem as string;
    ViewBag.Title = "Rede Social";
}


<div id="sidewrapper">
    <h1>Bem Vindo, @Session["NomeUsuario"]</h1>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                @Html.ImagemUsuario(User.Identity.GetUserId<int>())
            </div>
            <hr/>
            @Html.Partial("_MenuConta", "redesocial")
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary" id="circleocorrencia"></i>
                        <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>3 Ocorrências</h4>
                    <p>No ultimos 6 mêses</p>
                </div>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">

            @Html.ValidationSummary(false, "", new {@class = "text-danger"})

            @if (!string.IsNullOrEmpty(mensagem))
            {
                <div class="alert alert-success" role="alert" style="margin: 2em">
                    @mensagem
                </div>
            }

            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-md-9">
                    <h3 style="display: inline-block">Suas Redes Sociais</h3>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <h4>Para Adicionar</h4>
                    @Html.Partial("_LoginExternoAssociar", new LoginExternoVM {Action = "AssociarLogin", ReturnUrl = ViewBag.ReturnUrl})
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <h4>Para Remover</h4>
                    @Html.Action("ListaLoginExterno")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/karellen/js/Global/navegacao.js" type="text/javascript"></script>
}