@using Karellen.Web.Helper
@using Karellen.Web.Models.Conta
@using Microsoft.AspNet.Identity
@model Karellen.Web.Models.Conta.SenhaVM

@{
    ViewBag.Title = "Segurança";
    var temSenha = (bool)ViewBag.TemSenhaLocal;
}

<div id="sidewrapper">
    <h1>Bem Vindo (a), @Session["NomeUsuario"]<br /><small>Sinta-se em casa</small></h1>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                @Html.ImagemUsuario(User.Identity.GetUserId<int>())
            </div>
            <hr />
            @Html.Partial("_MenuConta", "seguranca")
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary" id="circleocorrencia"></i>
                        <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4><a href="@Url.Action("index", "estatistica")">@Html.EstatisticaUsuario(User.Identity.GetUserId<int>()) ocorrências</a></h4>
                    <h4>No ultimos meses</h4>
                    <br /><small>Não estão inclusas ocorrências anonimas. Nós <strong>NÃO TEMOS</strong> informações dos autores de ocorrências anonimas.</small>
                </div>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">

            @Html.ValidationSummary()

            @if (!temSenha)
                {
                    <div class="alert alert-info" role="alert">
                        Você não possui uma conta local.
                        Caso queira entrar sem precisar de conta local, insira uma nova senha abaixo
                    </div>
                }

            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-md-9">
                    <h3 style="display: inline-block">Seus Dados de Segurança</h3>
                    <button class="btn btn-xs btn-primary" id="btnedit">Editar</button>
                </div>
            </div>
            <br />
            @(temSenha ? Html.Partial("_SenhaAtualizar", new SenhaVM()) : Html.Partial("_SenhaSalvar", new SenhaVM()))
        </div>
    </div>
</div>