@{
    var urlRoot = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~");
    urlRoot = !string.IsNullOrWhiteSpace(urlRoot) && urlRoot.EndsWith("/") ? urlRoot.Remove(urlRoot.Length - 1) : urlRoot;
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/karellen/img/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - Karellen</title>
    @Styles.Render("~/css")
    <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css" rel="stylesheet" />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
    
    @RenderSection("css", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Karellen", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    @Html.Partial("_MenuPartial")
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_Navegacao")
                </ul>
            </div>
        </div>
    </div>
    
<noscript>
    <div class="alert alert-danger" role="alert" style="margin-top: 52px; margin-bottom: 0px; text-align: center;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> Javascript não habilitado. Este site não funcionará corretamente
        <br>Portanto, se algo estiver quebrado e/ou você ler spoiler de Game Of Thrones não é culpa nossa :)
    </div>
</noscript>
<div class="body-content container" id="body">
    @RenderBody()
</div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                @using (Html.BeginForm("solucionar", "ocorrencia", FormMethod.Post, new { @class = "form-horizontal", role = "form", style="width: 70%; margin: 0 auto;" }))
                {
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Solucionar Ocorrência</h4>

                        </div>
                        <input type="hidden" class="myhidden" name="id">
                        <div class="modal-body">Deseja solucionar esta ocorrência? Uma vez solucionada, ela sairá do mapa.</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Solucionar</button>
                        </div>
                    </div>
                  }
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                @using (Html.BeginForm("excluir", "ocorrencia", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "width: 70%; margin: 0 auto;" }))
                {
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Excluir Ocorrência</h4>

                        </div>
                        <input type="hidden" class="myhidden" name="id">
                        <div class="modal-body">Deseja excluir esta ocorrência? Uma vez excluida, ela sairá do mapa e das estatisticas.</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    

@Scripts.Render("~/js")

    <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>


<script type="text/javascript">
        
        $(function () {
            if (App.SuportaAjax()) {
                App.Init("@urlRoot");
            }
        });
    
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>