@model IEnumerable<Karellen.Web.Models.Log.LogVM>

@{
    ViewBag.Title = "Log";
}

<h2>Registro de Log</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAgent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Browser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessaoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntidadeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntidadeNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Browser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntidadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntidadeNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acao)
            </td>
        </tr>
    }

</table>

<div class="row paginacao">
    <div class="col-md-12">
        @Html.PagedListPager(Model as IPagedList, pagina => Url.Action("Index", new { pagina }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>
